.card {
    border-radius: 14px;
    /* border: 1px solid var(--color-gray-6); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    z-index: 999;
    box-shadow: 0 1px 5px var(--color-gray-6);

    @media (max-width: 400px) {
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
    }
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 0 2px 10px var(--color-gray-6);
    transition: ease-in-out 0.3s;
}

.profileCard {
    border-color: transparent;
    box-shadow: 0 2px 10px var(--color-gray-6);
    width: 70%;
    padding: 2rem;
}

.visitInfo {
    width: 60%;
    text-align: start;

    @media (max-width: 400px) {
        width: 90%;
    }

    display: flex;
    flex-direction: column;

    .ant-btn {
        margin-top: 0.5rem;
        width: 100px;
    }
    
    .ant-descriptions  {
        .ant-descriptions-row >td {
            padding-bottom: 0.25rem;
            padding-top: 0.05rem;
        }
        .ant-descriptions-item-content {
            font-size: 12px;
        }

        .ant-descriptions-item-label {
            font-size: 12px;
            width: 80px;
        }

        .ant-descriptions-item-label::after {
            margin-inline-start: 0;
        }

    }
}

.seniorProfile {
    width: 35%;
    @media (max-width: 400px) {
        width: 80%;
        margin-bottom: 1rem;
    }

    h3 {
        margin: 0rem;
        font-size: 16px;
    }

    p {
        margin-top: 0.25rem;
        font-size: 12px;
    }
}

